In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from utils import features_selection, load_dataset_train, load_dataset_test, load_dataset_full

In [3]:
df_train = features_selection(load_dataset_train())
df_test = features_selection(load_dataset_test())

In [4]:
df_1 = features_selection(load_dataset_full(1))
df_2 = features_selection(load_dataset_full(2))
df_3 = features_selection(load_dataset_full(3))
df_4 = features_selection(load_dataset_full(4))

h:\Learning\DACN\NIDS-FedML\utils.py:68: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./dataset/UNSW_NB15_" + str(idx) + ".csv")
h:\Learning\DACN\NIDS-FedML\utils.py:68: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./dataset/UNSW_NB15_" + str(idx) + ".csv")

In [5]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

dflist = [df_train, df_1, df_2, df_3, df_4]

In [6]:
enc_list = {}
for df in dflist:
    for col in df.columns:
        if isinstance(df[col][1], str):
            if col not in enc_list:
                enc_list[col] = []

            enc_list[col] = enc_list[col] + df[col].tolist()
            enc_list[col] = list(dict.fromkeys(enc_list[col]))

In [7]:
for key in enc_list:
    print(key, enc_list[key])

proto ['udp', 'arp', 'tcp', 'igmp', 'ospf', 'sctp', 'gre', 'ggp', 'ip', 'ipnip', 'st2', 'argus', 'chaos', 'egp', 'emcon', 'nvp', 'pup', 'xnet', 'mux', 'dcn', 'hmp', 'prm', 'trunk-1', 'trunk-2', 'xns-idp', 'leaf-1', 'leaf-2', 'irtp', 'rdp', 'netblt', 'mfe-nsp', 'merit-inp', '3pc', 'idpr', 'ddp', 'idpr-cmtp', 'tp++', 'ipv6', 'sdrp', 'ipv6-frag', 'ipv6-route', 'idrp', 'mhrp', 'i-nlsp', 'rvd', 'mobile', 'narp', 'skip', 'tlsp', 'ipv6-no', 'any', 'ipv6-opts', 'cftp', 'sat-expak', 'ippc', 'kryptolan', 'sat-mon', 'cpnx', 'wsn', 'pvp', 'br-sat-mon', 'sun-nd', 'wb-mon', 'vmtp', 'ttp', 'vines', 'nsfnet-igp', 'dgp', 'eigrp', 'tcf', 'sprite-rpc', 'larp', 'mtp', 'ax.25', 'ipip', 'aes-sp3-d', 'micp', 'encap', 'pri-enc', 'gmtp', 'ifmp', 'pnni', 'qnx', 'scps', 'cbt', 'bbn-rcc', 'igp', 'bna', 'swipe', 'visa', 'ipcv', 'cphb', 'iso-tp4', 'wb-expak', 'sep', 'secure-vmtp', 'xtp', 'il', 'rsvp', 'unas', 'fc', 'iso-ip', 'etherip', 'pim', 'aris', 'a/n', 'ipcomp', 'snp', 'compaq-peer', 'ipx-n-ip', 'pgm', 'vrrp', 'l2tp', 'zero', 'ddx', 'iatp', 'stp', 'srp', 'uti', 'sm', 'smp', 'isis', 'ptp', 'fire', 'crtp', 'crudp', 'sccopmce', 'iplt', 'pipe', 'sps', 'ib', 'icmp', 'udt', 'rtp', 'esp']
service ['-', 'http', 'ftp', 'ftp-data', 'smtp', 'pop3', 'dns', 'snmp', 'ssl', 'dhcp', 'irc', 'radius', 'ssh']
state ['INT', 'FIN', 'REQ', 'ACC', 'CON', 'RST', 'CLO', 'URH', 'ECO', 'TXD', 'URN', 'no', 'PAR', 'MAS', 'TST', 'ECR']
attack_cat ['Normal', 'Reconnaissance', 'Backdoor', 'DoS', 'Exploits', 'Analysis', 'Fuzzers', 'Worms', 'Shellcode', 'Generic', 'Backdoors']

In [8]:
df_1[55:]

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,sttl,dttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
55,0.001108,udp,dns,CON,2,2,130,162,31,29,...,1,1,0,0,0,2,9,0,Normal,0
56,0.177449,tcp,http,FIN,10,6,1214,268,254,252,...,1,1,0,0,1,1,2,0,DoS,1
57,0.194910,tcp,-,FIN,10,6,844,268,254,252,...,1,1,0,0,0,1,1,0,Generic,1
58,0.011205,udp,-,CON,4,4,528,304,31,29,...,1,2,0,0,0,2,2,0,Normal,0
59,0.001091,udp,dns,CON,2,2,130,162,31,29,...,1,1,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,0.020383,tcp,-,FIN,6,8,320,1874,31,29,...,1,4,0,0,0,5,20,0,Normal,0
699996,1.402957,tcp,http,FIN,364,746,19410,1087890,31,29,...,2,2,0,0,4,7,1,0,Normal,0
699997,0.007108,tcp,-,FIN,24,24,2158,2464,31,29,...,1,2,0,0,0,7,13,0,Normal,0
699998,0.004435,udp,-,CON,4,4,568,304,31,29,...,1,3,0,0,0,5,13,0,Normal,0
699999,0.072974,tcp,-,FIN,72,72,4238,60788,31,29,...,1,2,0,0,0,7,13,0,Normal,0

In [9]:
from utils import feature_labelencoding
feature_labelencoding(df_1)

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,sttl,dttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0.036133,0,0,4,4,4,528,304,31,29,...,1,2,0,0,0,3,4,0,0,0
1,0.001119,0,6,4,2,2,146,178,31,29,...,1,1,0,0,0,2,8,0,0,0
2,0.001209,0,6,4,2,2,132,164,31,29,...,1,1,0,0,0,1,9,0,0,0
3,0.001169,0,6,4,2,2,146,178,31,29,...,1,1,0,0,0,1,9,0,0,0
4,0.078339,0,0,4,4,4,568,312,31,29,...,1,2,0,0,0,3,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,0.020383,2,0,1,6,8,320,1874,31,29,...,1,4,0,0,0,5,20,0,0,0
699996,1.402957,2,1,1,364,746,19410,1087890,31,29,...,2,2,0,0,4,7,1,0,0,0
699997,0.007108,2,0,1,24,24,2158,2464,31,29,...,1,2,0,0,0,7,13,0,0,0
699998,0.004435,0,0,4,4,4,568,304,31,29,...,1,3,0,0,0,5,13,0,0,0
699999,0.072974,2,0,1,72,72,4238,60788,31,29,...,1,2,0,0,0,7,13,0,0,0

In [10]:
df_train

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,sttl,dttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0.000011,udp,-,INT,2,0,496,0,254,0,...,1,2,0,0,0,1,2,0,Normal,0
1,0.000008,udp,-,INT,2,0,1762,0,254,0,...,1,2,0,0,0,1,2,0,Normal,0
2,0.000005,udp,-,INT,2,0,1068,0,254,0,...,1,3,0,0,0,1,3,0,Normal,0
3,0.000006,udp,-,INT,2,0,900,0,254,0,...,1,3,0,0,0,2,3,0,Normal,0
4,0.000010,udp,-,INT,2,0,2126,0,254,0,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,0.000005,udp,-,INT,2,0,104,0,254,0,...,1,2,0,0,0,2,1,0,Normal,0
82328,1.106101,tcp,-,FIN,20,8,18062,354,254,252,...,1,1,0,0,0,3,2,0,Normal,0
82329,0.000000,arp,-,INT,1,0,46,0,0,0,...,1,1,0,0,0,1,1,1,Normal,0
82330,0.000000,arp,-,INT,1,0,46,0,0,0,...,1,1,0,0,0,1,1,1,Normal,0
82331,0.000009,udp,-,INT,2,0,104,0,254,0,...,1,1,0,0,0,1,1,0,Normal,0

In [11]:
df_3

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,sttl,dttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0.650574,tcp,ftp-data,FIN,14,6,8928,320,31,29,...,1,4,0.0,NaN,0.0,4,5,0,Normal,0
1,0.007980,tcp,-,FIN,24,24,2158,2464,31,29,...,1,3,0.0,NaN,0.0,1,5,0,Normal,0
2,0.000005,udp,dns,INT,2,0,264,0,60,0,...,19,19,0.0,NaN,0.0,19,19,0,Normal,0
3,0.000005,udp,dns,INT,2,0,264,0,60,0,...,19,19,0.0,NaN,0.0,19,19,0,Normal,0
4,0.486578,tcp,smtp,FIN,52,42,37462,3380,31,29,...,1,2,0.0,NaN,0.0,4,2,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,0.001035,udp,dns,CON,2,2,146,178,31,29,...,1,4,0.0,NaN,0.0,3,3,0,Normal,0
699996,0.220630,tcp,ftp-data,FIN,8,12,424,8824,31,29,...,1,4,0.0,NaN,0.0,3,3,0,Normal,0
699997,0.031576,tcp,-,FIN,42,44,2646,25564,31,29,...,1,3,0.0,NaN,0.0,4,6,0,Normal,0
699998,0.096835,tcp,-,FIN,84,86,4862,82782,31,29,...,1,2,0.0,NaN,0.0,7,6,0,Normal,0
699999,0.201886,tcp,smtp,FIN,52,42,37552,3380,31,29,...,1,3,0.0,NaN,0.0,4,2,0,Normal,0

In [16]:
from utils import get_dataset
x, y = get_dataset(df = load_dataset_full(2), multiclass=True)

h:\Learning\DACN\NIDS-FedML\utils.py:68: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./dataset/UNSW_NB15_" + str(idx) + ".csv")

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
0,59.166.0.0,7832,149.171.126.3,5607,2,1,0.144951,5174,91072,31,...,0.0,0.0,0,13,13,6,7,1,1,2
1,59.166.0.8,11397,149.171.126.6,21,2,1,0.116107,2934,3742,31,...,0.0,1.0,1,1,2,7,5,1,1,4
2,59.166.0.0,3804,149.171.126.3,53,0,4,0.000986,146,178,31,...,0.0,0.0,0,13,13,6,7,1,1,2
3,59.166.0.8,14339,149.171.126.6,14724,2,1,0.038480,8928,320,31,...,0.0,0.0,0,8,20,7,5,1,1,4
4,59.166.0.8,39094,149.171.126.3,53,0,4,0.001026,130,162,31,...,0.0,0.0,0,8,13,6,5,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,149.171.126.18,1043,175.45.176.3,53,0,0,0.000005,264,0,60,...,0.0,0.0,NaN,19,19,19,19,19,19,19
699996,149.171.126.18,1043,175.45.176.3,53,0,0,0.000005,264,0,60,...,0.0,0.0,NaN,19,19,19,19,19,19,19
699997,149.171.126.18,1043,175.45.176.3,53,0,0,0.000005,264,0,60,...,0.0,0.0,NaN,19,19,19,19,19,19,19
699998,149.171.126.18,1043,175.45.176.3,53,0,0,0.000005,264,0,60,...,0.0,0.0,NaN,19,19,19,19,19,19,19
699999,59.166.0.1,18247,149.171.126.4,7662,2,1,0.119596,4550,68342,31,...,0.0,0.0,NaN,6,2,2,5,1,1,2

51        0
52        0
53        0
54        0
55        0
         ..
699995    0
699996    0
699997    0
699998    0
699999    0
Name: attack_cat, Length: 699949, dtype: int64

In [2]:
import utils

In [3]:
x_train, y_train = utils.get_dataset(df=utils.load_dataset_full(2))

h:\Learning\DACN\NIDS-FedML\utils.py:89: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./dataset/UNSW_NB15_" + str(idx) + ".csv")

In [19]:
x_train_1 = utils.split_list(x_train, 0, 4)
x_train_2 = utils.split_list(x_train, 1, 4)
x_train_3 = utils.split_list(x_train, 2, 4)
x_train_4 = utils.split_list(x_train, 3, 4)

In [51]:
df_test = utils.load_dataset_test()
df_test.columns

Index(['dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss', 'sinpkt',
       'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin', 'tcprtt',
       'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')

In [21]:
import pandas as pd

pd.concat([x_train_1, x_train_2], axis=1)

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
0,59.166.0.0,7832.0,149.171.126.3,5607,2.0,1.0,0.144951,5174.0,91072.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,59.166.0.8,11397.0,149.171.126.6,21,2.0,1.0,0.116107,2934.0,3742.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,59.166.0.0,3804.0,149.171.126.3,53,0.0,4.0,0.000986,146.0,178.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,59.166.0.8,14339.0,149.171.126.6,14724,2.0,1.0,0.038480,8928.0,320.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59.166.0.8,39094.0,149.171.126.3,53,0.0,4.0,0.001026,130.0,162.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,1,1.0,1.0,4.0,4.0,1.0,1.0,3.0
349996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0,5.0,6.0,1.0,3.0,1.0,1.0,1.0
349997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0,6.0,11.0,8.0,6.0,6.0,1.0,6.0
349998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0,3.0,4.0,5.0,7.0,1.0,1.0,3.0
349999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0,5.0,13.0,4.0,3.0,1.0,1.0,1.0

In [39]:
def split_dataset(x, y, round, max_round):
    x_combined = utils.split_list(x, 0, max_round)
    y_combined = utils.split_list(y, 0, max_round)
    
    for i in range(1, round):
        x_combined = pd.concat([x_combined, utils.split_list(x, i, max_round)])
        y_combined = pd.concat([y_combined, utils.split_list(y, i, max_round)])
    
    return x_combined, y_combined

In [43]:
print(split_dataset(x_train, y_train, 4, 4))

(                 srcip  sport          dstip dsport  proto  state       dur  \
0           59.166.0.0   7832  149.171.126.3   5607      2      1  0.144951
1           59.166.0.8  11397  149.171.126.6     21      2      1  0.116107
2           59.166.0.0   3804  149.171.126.3     53      0      4  0.000986
3           59.166.0.8  14339  149.171.126.6  14724      2      1  0.038480
4           59.166.0.8  39094  149.171.126.3     53      0      4  0.001026
...                ...    ...            ...    ...    ...    ...       ...
699995  149.171.126.18   1043   175.45.176.3     53      0      0  0.000005
699996  149.171.126.18   1043   175.45.176.3     53      0      0  0.000005
699997  149.171.126.18   1043   175.45.176.3     53      0      0  0.000005
699998  149.171.126.18   1043   175.45.176.3     53      0      0  0.000005
699999      59.166.0.1  18247  149.171.126.4   7662      2      1  0.119596

        sbytes  dbytes  sttl  ...  ct_flw_http_mthd  is_ftp_login  ct_ftp_cmd  \
0         5174   91072    31  ...               0.0           0.0           0
1         2934    3742    31  ...               0.0           1.0           1
2          146     178    31  ...               0.0           0.0           0
3         8928     320    31  ...               0.0           0.0           0
4          130     162    31  ...               0.0           0.0           0
...        ...     ...   ...  ...               ...           ...         ...
699995     264       0    60  ...               0.0           0.0         NaN
699996     264       0    60  ...               0.0           0.0         NaN
699997     264       0    60  ...               0.0           0.0         NaN
699998     264       0    60  ...               0.0           0.0         NaN
699999    4550   68342    31  ...               0.0           0.0         NaN

        ct_srv_src  ct_srv_dst  ct_dst_ltm  ct_src_ltm  ct_src_dport_ltm  \
0               13          13           6           7                 1
1                1           2           7           5                 1
2               13          13           6           7                 1
3                8          20           7           5                 1
4                8          13           6           5                 1
...            ...         ...         ...         ...               ...
699995          19          19          19          19                19
699996          19          19          19          19                19
699997          19          19          19          19                19
699998          19          19          19          19                19
699999           6           2           2           5                 1

        ct_dst_sport_ltm  ct_dst_src_ltm
0                      1               2
1                      1               4
2                      1               2
3                      1               4
4                      1               1
...                  ...             ...
699995                19              19
699996                19              19
699997                19              19
699998                19              19
699999                 1               2

[700000 rows x 47 columns], 0         0
1         0
2         0
3         0
4         0
         ..
699995    0
699996    0
699997    0
699998    0
699999    0
Name: attack_cat, Length: 700000, dtype: int64)

In [2]:
import utils

In [20]:
x_test, y_test = utils.get_dataset(df=utils.load_dataset_test())

In [3]:
x_train, y_train = utils.get_dataset(df=utils.load_dataset_full(1))

h:\Learning\DACN\NIDS-FedML\utils.py:98: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./dataset/UNSW_NB15_" + str(idx) + ".csv")

In [8]:
pd.set_option('display.max_columns', None)

In [22]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(x_test)

MinMaxScaler()

In [23]:
x_train = scaler.transform(x_train)

In [36]:
pd.isna(x_train).sum()

0